@import 'https://fonts.googleapis.com/css?family=Rubik+One';

@keyframes blinkblue {
  from {
    fill: var(--blue);
  }

  to {
    fill: var(--blue-blink);
  }
}

@keyframes blinkred {
  from {
    fill: var(--red);
  }
  to {
    fill: var(--red-blink);
  }
}

@keyframes blinkselected {
  from {
    fill: var(--yellow);
  }
  to {
    fill: var(--yellow-blink);
  }
}

@keyframes blinkBlueButton {
  from {
    background-color: var(--blue);
  }

  to {
    background-color: var(--blue-blink);
  }
}

@keyframes blinkRedButton {
  from {
    background-color: var(--red);
  }
  to {
    background-color: var(--red-blink);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
.game,
.controls {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* GAME */
:root {
  --blue: #066bbb;
  --blue-blink: #82c5fc;
  --red: #920004;
  --red-blink: #f89c9f;
  --gray: #808080;
  --controls-bg: #2d2d2d;
  --controls-color: #f7fafc;
  --yellow: #b2bd00;
  --yellow-blink: #e7ef61;
}

/* GAME RENDER CONDITIONS */

.controls .item {
  width: 8vh;
  margin-right: 0.3vh;
}

.controls .row {
  margin-top: -2vh;
}

.controls .row:nth-child(2n) .item:first-child {
  margin-left: 4.15vh;
}

/* GAME RENDER CONDITIONS END */

.game {
  transform: scale(1.3);
  background-color: black;
}

.item {
  height: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 14.3vh;
  margin-right: 1vh;
}

/* ANIMATIONS */

.item.letter {
  transform: rotateY(0deg);
  transition: transform 0.3s ease-in-out;
}

.item.letter svg path {
  transition: fill 0.3s ease-in-out;
}

.item.letter.red,
.item.letter.blue {
  transform: rotateY(180deg);
}

.item.letter .textContainer {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.item.letter.red .textContainer,
.item.letter.blue .textContainer {
  opacity: 0;
}

.blink-blue .item.letter.blue path {
  animation: blinkblue 0.5s linear 0.1s infinite alternate;
  transition: none;
}

.blink-red .item.letter.red svg path {
  animation: blinkred 0.5s linear 0.1s infinite alternate;
  transition: none;
}

.item.letter.selected:not(.red):not(.blue) svg path {
  animation: blinkselected 0.5s linear 0.1s infinite alternate;
  transition: none;
}

.basic-controls .blue.blink-active {
  animation: blinkBlueButton 0.5s linear 0.1s infinite alternate;
  transition: none;
}

.basic-controls .red.blink-active {
  animation: blinkRedButton 0.5s linear 0.1s infinite alternate;
  transition: none;
}

.stop-animation * {
  animation: none !important;
}

/* ANIMATIONS END */

.row:nth-child(2n) .item:first-child {
  margin-left: 7.6vh;
}

.row:first-child .item:first-child,
.row:last-child .item:first-child {
  opacity: 0;
}

.item.letter.blue path {
  fill: var(--blue);
}

.item.letter.red path {
  fill: var(--red);
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: -3vh;
}

.row:first-child {
  margin-top: auto;
}

.row .item:last-child {
  margin-right: 0;
}

.row:nth-child(1n + 2) .item:first-child path,
.row:nth-child(1n + 2) .item:last-child path {
  fill: var(--blue);
}

.row:first-child path,
.row:first-child path,
.row:last-child path,
.row:last-child path,
.row:last-child .item:first-child path,
.row:last-child .item:last-child path {
  fill: var(--red);
}

svg path {
  fill: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 10vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container .textContainer {
  font-size: 5vh;
}

.item svg,
.item .textContainer {
  pointer-events: none;
}

/* CONTROL AREA */

.controls {
  background-color: var(--controls-bg);
  color: var(--controls-color);
}

.controls .game-container {
  height: 500px;
  overflow: hidden;
}

.controls .right {
  width: 40%;
}

/* BUTTONS */

.button::after,
.button::before {
  content: '';
  transition: all 0.5s;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  color: white;
  vertical-align: middle;
  font-family: 'Rubik One', sans-serif;
  text-decoration: none;
  font-size: 2vh;
  background-color: #616161;
  border: 2px solid #fff;
}

.button.red {
  background-color: var(--red);
}

.button.blue {
  background-color: var(--blue);
}

.button.open-game-window {
  background-color: #db3456;
}

.button.open-game-window:disabled {
  @apply bg-gray-500;
  cursor: auto;
}

.list {
  background-color: blanchedalmond;
  color: #000;
  font-weight: bold;
  padding: 1em;
}

.list li {
}

.question {
  background-color: #ffc75f;
  color: black;
  font-weight: bold;
  border: 5px solid #f5deb3;
  padding: 10px 30px;
  font-size: 2vh;
}

.game-question {
  min-width: 50%;
  transform: translateY(-7vh);
}

.game-answer {
  transform: translateY(7vh);
  opacity: 1;
  transition: opacity 1s ease;
}

/* Modal Design */

.confirmation-modal {
  background-color: var(--controls-bg);
  color: var(--controls-color);
}
